<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>855561110870-enhdk4okqph3ok790pgs82bbudt2gq8j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.855561110870-enhdk4okqph3ok790pgs82bbudt2gq8j</string>
	<key>API_KEY</key>
	<string>AIzaSyCABrT0uaV7zqOm6lnW0-0BqhY436UUADs</string>
	<key>GCM_SENDER_ID</key>
	<string>855561110870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hckwashu.BearFitness.BearFitness</string>
	<key>PROJECT_ID</key>
	<string>hackwashu2024</string>
	<key>STORAGE_BUCKET</key>
	<string>hackwashu2024.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:855561110870:ios:f4df05320b069161c282f7</string>
</dict>
</plist>